.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 5rem;
}
.skill-block {
  display: grid;
  gap: 1.5rem;
  width: 100%;
}
.skill-title {
  opacity: 0;
  margin-bottom: 1rem;
}
.skill {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  border: 1px solid var(--primary-clr);
  padding: 1rem;
}
.skill img {
  opacity: 0;
  width: 3rem;
  grid-area: 1/1/3/2;
  margin-right: 0.5rem;
}
.skill .skill-name {
  opacity: 0;
  grid-area: 1/2/2/3;
}
.skill .bar {
  opacity: 0;
  width: 100%;
  height: 20px;
  background-color: var(--primary-clr);
  display: flex;
  border: 1px solid var(--accent-clr);
  animation-delay: 0.5s;
  overflow: hidden;
}
.skill .bar .filler {
  transition: 0.5s linear forwards;
  animation-delay: 0.8s;
}
.skill .bar .html-filler {
  background-color: var(--accent-clr);
  text-align: center;
  color: var(--tertiary-clr);
}
.skill .bar .css-filler {
  background-color: var(--accent-clr);
  text-align: center;
  color: var(--tertiary-clr);
}
.skill .bar .js-filler {
  background-color: var(--accent-clr);
  text-align: center;
  color: var(--tertiary-clr);
}
.skill .bar .react-filler {
  background-color: var(--accent-clr);
  text-align: center;
  color: var(--tertiary-clr);
}
.skill .bar .bootstrap-filler {
  background-color: var(--accent-clr);
  text-align: center;
  color: var(--tertiary-clr);
}
.skill .bar .wordpress-filler {
  background-color: var(--accent-clr);
  text-align: center;
  color: var(--tertiary-clr);
}
.skill .bar .illustrator-filler {
  background-color: var(--accent-clr);
  text-align: center;
  color: var(--tertiary-clr);
}
.skill .bar .photoshop-filler {
  background-color: var(--accent-clr);
  text-align: center;
  color: var(--tertiary-clr);
}
.skill .bar .canva-filler {
  background-color: var(--accent-clr);
  text-align: center;
  color: var(--tertiary-clr);
}

/* ============================= Tablet screens ============================= */
@media (max-width: 800px) {
  .skills-container {
    display: block;
    /* width: 80%; */
    /* margin: auto; */
    gap: 5rem;
  }
  .skills-container .WB-container {
    margin-bottom: 4rem;
  }
  .skill .bar {
    width: 400px;
  }
}
/* ============================= Mobile screens ============================= */
@media (max-width: 500px) {
  #skills {
    padding: 50px 20px;
  }
  .skill .bar {
    width: 200px;
  }
}
