:root {
  --default-font: "poppins", Verdana, Tahoma, sans-serif;
  --text-clr: #1a1a1a;
  --primary-clr: #f3f3f3;
  --secondary-clr: #fdfdfd;
  --tertiary-clr: #ffffff;
}
body.dark-mode {
  --text-clr: #fdfdfd;
  --primary-clr: #2c2c2c;
  --secondary-clr: #1a1a1a;
  --tertiary-clr: #1a1a1a;
}
body.gold-theme {
  --accent-clr: #ffbb00;
}
body.blue-theme {
  --accent-clr: #0084ff;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
  line-height: 1.5;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  background-color: var(--tertiary-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: 20% auto;
  font-family: var(--default-font);
  transition: all 0.3s ease-in-out;
}
main {
  grid-area: 1/2/2/3;
  max-width: 1200px;
  margin: auto;
}
img {
  width: 2rem;
}
section {
  padding: 0 50px 5rem 50px;
}
.section-title {
  font-weight: 900;
  font-size: 2rem;
}
.active {
  background-color: var(--secondary-clr);
  border-left: 1rem solid var(--accent-clr);
}
a:hover,
a:active {
  color: var(--accent-clr);
}
a,
a:visited {
  color: var(--text-clr);
}
button {
  border: 1px solid var(--accent-clr);
  background-color: var(--primary-clr);
  color: var(--text-clr);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
button:hover,
button:active {
  background-color: var(--accent-clr);
  color: var(--text-clr);
}
svg {
  fill: var(--text-clr);
  transition: 0.3s ease-in-out;
}
input::caret {
  color: var(--accent-clr);
}
.social-links a svg {
  transition: 0.3s ease-in-out;
  width: 2.5rem;
}
.social-links a:hover svg {
  scale: 1.1;
  fill: var(--accent-clr);
}
/* Screens */
@media (max-width: 800px) {
  body {
    display: block;
  }
  .section {
    padding: 5px;
  }
}
@media (max-width: 500px) {
  .section-title {
    margin-top: 3rem;
  }
}
